<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bangdiemhocsinh.Name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @bangdiemhocsinh.Date %>
</p>

<p>
  <strong>Lop:</strong>
  <%= @bangdiemhocsinh.Lop %>
</p>

<p>
  <strong>Sumary:</strong>
  <%= @bangdiemhocsinh.Sumary %>
</p>

<%= link_to 'Edit', edit_bangdiemhocsinh_path(@bangdiemhocsinh) %> |
<%= link_to 'Back', bangdiemhocsinhs_path %>
